# Editor configs
.cursor/
.superdesign/
.vscode/
.windsurfrules
CLAUDE.md
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
.DS_Store
desktop.ini

# Node/JS
node_modules/

# Build outputs
/dist/
/build/

# Env files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
